@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700);

@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

$secondaryColor: #FF9500;
$primaryMargin: 1rem;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: 300 1em/1.5em 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#perfecttoprint {
  position: fixed;
  top: 37%;
  left: 3%;
  font-size: 3rem;
  transform: rotate(-23deg);
  line-height: 1.5;
  font-family: 'Special Elite', cursive;
  //font-family: 'Cabin Sketch', cursive;
  box-shadow: 0 0 5px black;
}


@media only screen and (min-width: 1024px) {
  #main-content {
    max-width: 1024px;
    margin: 1rem auto;
    box-shadow: 0 0 .6rem black;
    height: auto;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#header-name {
  margin: $primaryMargin;
}

#header-name *:nth-child(1) {
  font-size: 500%;
  line-height: 100%;
}

#header-name *:nth-child(2) {
  font-size: 260%;
  line-height: 100%;
  text-transform: uppercase;
  color: $secondaryColor;
}

#contacts {
  list-style: none;
  margin: $primaryMargin;
}

#contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

#contacts .contact-icon {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.1rem;
  text-align: center;
  border: 2px solid $secondaryColor;
  border-radius: 50%;
  margin-right: $primaryMargin;
  transition: border .8s .3s linear, color .8s linear, transform .5s linear;
}

#contacts li:hover .contact-icon {
  border-color: transparent;
  color: $secondaryColor;
  transform: scale(2.5);
  transition: border .8s linear, color .8s linear, transform .5s .3s linear;

}

#contacts .contact-type {
  color: $secondaryColor;
}

#man-description {
  margin: $primaryMargin;
}

#man-description-long {
  text-align: justify;
}

#man-description-short {
  font-size: 200%;
  line-height: 200%;
}

#body-cv {
  display: flex;
  flex-direction: row;
}

#rule {
  position: fixed;
  top: 5px;
  height: 1rem;
  width: 60rem;
  background: black;
  z-index: 10000;
}

@media only screen and (max-width: 60rem) {

  #body-cv,
  header {
    flex-direction: column;
  }
}

#text-column {}

#graph-column {
  min-width: 26rem;
}








article {
  margin: $primaryMargin;
}

article h3 {}

article h3:before {
  content: ">";
  font-weight: 700;
  margin-right: $primaryMargin;
  color: $secondaryColor;
}

article.textual {}

article ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

article.textual li {
  border-left: 1px solid black;
  margin-left: .5rem;
  position: relative;
  display: flex;
}

article.textual li .circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: .1rem solid $secondaryColor;
  background: white;
  position: absolute;
  top: 1rem;
  left: -.5rem;
}

article.textual li .where-and-when,
article.textual li .what-and-how {
  flex-direction: column;
  margin: $primaryMargin;
}

article.textual li .what {
  font-size: 150%;
  color: $secondaryColor;
}

.datesColumn {
  flex: 0 0 12rem;
}

/*.grow30 {
  display: flex;
  flex-grow: 30;
}
.grow70 {
  display: flex;
  flex-grow: 70;
}*/

article.graphic {
  position: relative;
}

article.graphic li {
  margin-top: $primaryMargin;
  margin-bottom: $primaryMargin;
}

article.graphic li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //  width: 12rem;
  //  display: inline-block;
}

article.graphic li>div:nth-child(1),
article.graphic .schema-row>div:nth-child(1) {
  width: 6rem;
}

article.graphic li>div:nth-child(2) {
  flex-grow: 1;
  justify-content: flex-start;
}


.schema {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 70%;
  height: 100%;
  padding-right: 1rem;
}

.schema-row {
  display: flex;
  justify-content: space-between;
}

.schema-row:nth-child(2) {
  flex-grow: 1;
  padding-bottom: 1rem;
}

.schema-row:nth-child(2)>div:not(:nth-child(1)) {
  width: 1px;
  background: black;
}

.rect {
  border: .1rem solid $secondaryColor;
  background: white;
  opacity: 1;
  animation-fill-mode: both;
  max-width: 0;
}

@for $i from 2 through 10 {
  @keyframes grow#{$i} {
    from {
      max-width: 0;
    }

    to {
      max-width: $i * 10%;
    }
  }

  .rect#{$i*10} {
    animation: grow#{$i} 70ms * $i 1 forwards;
    width: $i * 10%;
  }
}

@for $i from 0 through 20 {
  .rects li:nth-child(#{$i}) .rect {
    animation-delay: $i * .2s;
  }
}

ul li {
  opacity: 0.3;
  @prefix(transition, opacity 1s ease);
}

@for $i from 1 through 15 {
  ul li:nth-child(#{$i}) {
    //width: $i * 10%;
    @prefix(transition-delay, $i * 0.5s);
    opacity: 1;
  }
}