@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  margin: .4rem 0; }

#whiteLine {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8)); }

.fakeintro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

.intro {
  position: relative;
  height: auto;
  transform: translateZ(0); }
  .intro img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1; }

.intro .caption {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  color: white; }
  .intro .caption h1 {
    display: inline-block;
    width: 70%;
    font-size: 50px;
    font-weight: 100;
    line-height: 50px; }

.intro .overlay {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .intro .overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#mainContent {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 2rem 2rem 2rem;
  color: #466c7f;
  font-weight: 300;
  font-size: 1rem; }

#mainContent .teaser {
  font-size: 1.6rem;
  text-align: center; }

#social_buttons {
  display: block;
  margin: .8rem auto;
  width: auto;
  text-align: center; }

.social_button {
  display: inline-block;
  height: 40px;
  text-align: center;
  margin: 2px .5rem;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-offset: 0px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  outline-offset: 0px; }

.social_button:hover {
  border: 1px solid;
  outline-offset: 15px; }

.social_button i {
  font-size: 26px;
  margin: 7px 0 7px 7px;
  display: inline-block;
  float: left; }

.social_button span {
  padding: 0 .5rem 0 0; }

body:not(.mobile) .social_button:not(.mail_button) span:nth-of-type(2) {
  display: none; }

body.mobile .social_button {
  width: 80%;
  margin: .2rem 10%; }

@media all and (max-width: 600px) {
  body .social_button {
    width: 80%;
    margin: .2rem 10%; }

  body .social_button span:nth-of-type(2) {
    display: inline; } }
.tw_button {
  color: #3B8ACA;
  box-shadow: inset 0 0 20px rgba(59, 138, 202, 0);
  outline-color: rgba(59, 138, 202, 0);
  outline-color: #3B8ACA; }

.tw_button:hover {
  box-shadow: inset 0 0 12px rgba(59, 138, 202, 0.5), 0 0 20px rgba(59, 138, 202, 0.2);
  outline-color: rgba(59, 138, 202, 0); }

.codepen_button {
  color: #252527;
  box-shadow: inset 0 0 20px rgba(37, 37, 39, 0);
  outline-color: rgba(37, 37, 39, 0);
  outline-color: #252527; }

.codepen_button:hover {
  box-shadow: inset 0 0 12px rgba(37, 37, 39, 0.5), 0 0 20px rgba(37, 37, 39, 0.2);
  outline-color: rgba(37, 37, 39, 0); }

.github_button {
  color: #333;
  box-shadow: inset 0 0 20px rgba(51, 51, 51, 0);
  outline-color: rgba(51, 51, 51, 0);
  outline-color: #333; }

.github_button:hover {
  box-shadow: inset 0 0 12px rgba(51, 51, 51, 0.5), 0 0 20px rgba(51, 51, 51, 0.2);
  outline-color: rgba(51, 51, 51, 0); }

.linkedin_button {
  color: #4875B4;
  box-shadow: inset 0 0 20px rgba(72, 117, 180, 0);
  outline-color: rgba(72, 117, 180, 0);
  outline-color: #4875B4; }

.linkedin_button:hover {
  box-shadow: inset 0 0 12px rgba(72, 117, 180, 0.5), 0 0 20px rgba(72, 117, 180, 0.2);
  outline-color: rgba(72, 117, 180, 0); }

.mail_button {
  color: #dd4b39;
  box-shadow: inset 0 0 20px rgba(221, 75, 57, 0);
  outline-color: rgba(221, 75, 57, 0);
  outline-color: #dd4b39; }

.mail_button:hover {
  box-shadow: inset 0 0 12px rgba(221, 75, 57, 0.5), 0 0 20px rgba(221, 75, 57, 0.2);
  outline-color: rgba(221, 75, 57, 0); }

a {
  color: inherit;
  cursor: pointer; }

a:before,
a:after {
  text-decoration: none; }

p a:before {
  content: "["; }

p a:after {
  content: "]"; }

article {
  padding: 1rem; }

article a {
  color: inherit; }

article h4 a {
  margin: 0 .3rem; }

article h4 a:first-of-type {
  margin-left: 1.5rem; }

article a:before,
article a:after {
  text-decoration: none;
  margin: 0 .05rem; }

article a:before {
  content: "["; }

article a:after {
  content: "]"; }

.gallery {
  height: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0;
  text-align: center;
  margin: 1rem auto; }
  .gallery img {
    height: 100%;
    margin: 0 1rem; }

/*# sourceMappingURL=style.css.map */
