@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: 300 1em/1.5em 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#perfecttoprint {
  position: fixed;
  top: 37%;
  left: 3%;
  font-size: 3rem;
  transform: rotate(-23deg);
  line-height: 1.5;
  font-family: 'Special Elite', cursive;
  box-shadow: 0 0 5px orangered;

  background-color: rgba(255,255,255,0.7);
  padding: 0.7rem 1rem 0;
  color: orangered;
}

@media only screen and (min-width: 1024px) {
  #main-content {
    max-width: 1024px;
    margin: 1rem auto;
    box-shadow: 0 0 .6rem black;
    height: auto;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#header-name {
  margin: 1rem;
}

#header-name *:nth-child(1) {
  font-size: 500%;
  line-height: 100%;
}

#header-name *:nth-child(2) {
  font-size: 260%;
  line-height: 100%;
  text-transform: uppercase;
  color: #FF9500;
}

#contacts {
  list-style: none;
  margin: 1rem;
}

#contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

#contacts .contact-icon {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.1rem;
  text-align: center;
  border: 2px solid #FF9500;
  border-radius: 50%;
  margin-right: 1rem;
  transition: border .8s .3s linear, color .8s linear, transform .5s linear;
}

#contacts li:hover .contact-icon {
  border-color: transparent;
  color: #FF9500;
  transform: scale(2.5);
  transition: border .8s linear, color .8s linear, transform .5s .3s linear;
}

#contacts .contact-type {
  color: #FF9500;
}

#man-description {
  margin: 1rem;
}

#man-description-long {
  text-align: justify;
}

#man-description-short {
  font-size: 200%;
  line-height: 200%;
}

#body-cv {
  display: flex;
  flex-direction: row;
}

#rule {
  position: fixed;
  top: 5px;
  height: 1rem;
  width: 60rem;
  background: black;
  z-index: 10000;
}

@media only screen and (max-width: 60rem) {
  #body-cv,
  header {
    flex-direction: column;
  }
}

#graph-column {
  min-width: 26rem;
}

article {
  margin: 1rem;
}

article h3:before {
  content: ">";
  font-weight: 700;
  margin-right: 1rem;
  color: #FF9500;
}

article ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

article.textual li {
  border-left: 1px solid black;
  margin-left: .5rem;
  position: relative;
  display: flex;
}

article.textual li .circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #FF9500;
  background: white;
  position: absolute;
  top: 1rem;
  left: -.5rem;
}

article.textual li .where-and-when,
article.textual li .what-and-how {
  flex-direction: column;
  margin: 1rem;
}

article.textual li .what {
  font-size: 150%;
  color: #FF9500;
}

.datesColumn {
  flex: 0 0 12rem;
}

/*.grow30 {
  display: flex;
  flex-grow: 30;
}
.grow70 {
  display: flex;
  flex-grow: 70;
}*/
article.graphic {
  position: relative;
}

article.graphic li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article.graphic li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.graphic li > div:nth-child(1),
article.graphic .schema-row > div:nth-child(1) {
  width: 6rem;
}

article.graphic li > div:nth-child(2) {
  flex-grow: 1;
  justify-content: flex-start;
}

.schema {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 70%;
  height: 100%;
  padding-right: 1rem;
}

.schema-row {
  display: flex;
  justify-content: space-between;
}

.schema-row:nth-child(2) {
  flex-grow: 1;
  padding-bottom: 1rem;
}

.schema-row:nth-child(2) > div:not(:nth-child(1)) {
  width: 1px;
  background: black;
}

.rect {
  border: 0.1rem solid #FF9500;
  background: white;
  opacity: 1;
  animation-fill-mode: both;
  max-width: 0;
}

@keyframes grow2 {
  from {
    max-width: 0;
  }
  to {
    max-width: 20%;
  }
}

.rect20 {
  animation: grow2 140ms 1 forwards;
  width: 20%;
}

@keyframes grow3 {
  from {
    max-width: 0;
  }
  to {
    max-width: 30%;
  }
}

.rect30 {
  animation: grow3 210ms 1 forwards;
  width: 30%;
}

@keyframes grow4 {
  from {
    max-width: 0;
  }
  to {
    max-width: 40%;
  }
}

.rect40 {
  animation: grow4 280ms 1 forwards;
  width: 40%;
}

@keyframes grow5 {
  from {
    max-width: 0;
  }
  to {
    max-width: 50%;
  }
}

.rect50 {
  animation: grow5 350ms 1 forwards;
  width: 50%;
}

@keyframes grow6 {
  from {
    max-width: 0;
  }
  to {
    max-width: 60%;
  }
}

.rect60 {
  animation: grow6 420ms 1 forwards;
  width: 60%;
}

@keyframes grow7 {
  from {
    max-width: 0;
  }
  to {
    max-width: 70%;
  }
}

.rect70 {
  animation: grow7 490ms 1 forwards;
  width: 70%;
}

@keyframes grow8 {
  from {
    max-width: 0;
  }
  to {
    max-width: 80%;
  }
}

.rect80 {
  animation: grow8 560ms 1 forwards;
  width: 80%;
}

@keyframes grow9 {
  from {
    max-width: 0;
  }
  to {
    max-width: 90%;
  }
}

.rect90 {
  animation: grow9 630ms 1 forwards;
  width: 90%;
}

@keyframes grow10 {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.rect100 {
  animation: grow10 700ms 1 forwards;
  width: 100%;
}

.rects li:nth-child(0) .rect {
  animation-delay: 0s;
}

.rects li:nth-child(1) .rect {
  animation-delay: 0.2s;
}

.rects li:nth-child(2) .rect {
  animation-delay: 0.4s;
}

.rects li:nth-child(3) .rect {
  animation-delay: 0.6s;
}

.rects li:nth-child(4) .rect {
  animation-delay: 0.8s;
}

.rects li:nth-child(5) .rect {
  animation-delay: 1s;
}

.rects li:nth-child(6) .rect {
  animation-delay: 1.2s;
}

.rects li:nth-child(7) .rect {
  animation-delay: 1.4s;
}

.rects li:nth-child(8) .rect {
  animation-delay: 1.6s;
}

.rects li:nth-child(9) .rect {
  animation-delay: 1.8s;
}

.rects li:nth-child(10) .rect {
  animation-delay: 2s;
}

.rects li:nth-child(11) .rect {
  animation-delay: 2.2s;
}

.rects li:nth-child(12) .rect {
  animation-delay: 2.4s;
}

.rects li:nth-child(13) .rect {
  animation-delay: 2.6s;
}

.rects li:nth-child(14) .rect {
  animation-delay: 2.8s;
}

.rects li:nth-child(15) .rect {
  animation-delay: 3s;
}

.rects li:nth-child(16) .rect {
  animation-delay: 3.2s;
}

.rects li:nth-child(17) .rect {
  animation-delay: 3.4s;
}

.rects li:nth-child(18) .rect {
  animation-delay: 3.6s;
}

.rects li:nth-child(19) .rect {
  animation-delay: 3.8s;
}

.rects li:nth-child(20) .rect {
  animation-delay: 4s;
}

ul li {
  opacity: 0.3;
  @prefix (transition, opacity 1s ease);
}

ul li:nth-child(1) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(2) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(3) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(4) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(5) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(6) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(7) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(8) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(9) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(10) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(11) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(12) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(13) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(14) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}

ul li:nth-child(15) {
  @prefix (transition-delay, $i * 0.5s);
  opacity: 1;
}
