* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(10rem, 20rem) auto;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-areas: 
    "header header"
    "customers customer"
    "footer footer";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

#customers {
  grid-area: customers;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#customers-filter {
  /* nada */
  padding: .5rem;
}

#customers ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1 1 auto;
}

#customers li {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  border: 1px solid transparent;
  cursor: pointer;
}

#customers li > .title {
  font-size: 1.1rem;
}

#customers li > .title {
  font-size: 0.9rem;
}

#customers li:hover {
  border-color: orangered;
}

pre {
  grid-area: customer;
}